In [1]:
#### Practice Session 15-04-2024

```java
public class Solution {
	public static boolean solveMaze(int maze[][], int i, int j, int path[][]){
		int n = maze.length;
		//check if i, j, cell is valid or not
		if(i < 0 || i >= n|| j<0||j>=n||maze[i][j] == 0||path[i][j] == 1){
			return false;
		}
		// include the cell in current path
		path [i][j] = 1;
		// Destination cell
		if(i == n -1&& j == n-1){
			path[i][j] = 0;
			return true;
		}
		// explore further in all directions
		boolean pathPossible = false;

		//top
		if(solveMaze(maze, i-1, j, path)){
			pathPossible = true;
		}
		//right
		else if(solveMaze(maze, i, j+1, path)){
			pathPossible = true;
		}
		// down
		else if(solveMaze(maze,i+1, j, path)){
			pathPossible = true;
		}
		// left
		else if(solveMaze(maze, i, j-1, path)){
			pathPossible = true;
		}
		return pathPossible;
	}
	public static boolean ratInAMaze(int maze[][]){
	int n = maze.length;
	int path[][] = new int[n][n];
	return solveMaze(maze, 0, 0, path);
	}
}
```

In [ ]:
# practice 16-04-2024

Table: Employee

+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| id          | int     |
| name        | varchar |
| salary      | int     |
| managerId   | int     |
+-------------+---------+
id is the primary key (column with unique values) for this table.
Each row of this table indicates the ID of an employee, their name, salary, and the ID of their manager.
 

Write a solution to find the employees who earn more than their managers.

Return the result table in any order.
```sql
-- Write your PostgreSQL query statement below

SELECT e2.name AS Employee
FROM employee AS e1
LEFT JOIN employee AS e2
ON e1.id = e2.managerId
WHERE e2.id IS NOT NULL AND (e1.salary < e2.salary);

SELECT e2.name AS Employee
FROM employee AS e1
LEFT JOIN employee AS e2 ON e1.id = e2.managerId AND e1.salary < e2.salary
WHERE e2.id IS NOT NULL;